/* Estilo general para el cuerpo del documento */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Estilo para el encabezado */
header {
    background-color: #900C3F;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Estilo para las secciones */
section {
    padding: 20px;
    margin: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Estilo para el pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

/* Estilo para los encabezados secundarios */
h2 {
    color: #900C3F;
}

/* Estilo para listas */
ul {
    list-style: square inside;
}

/* Estilo para las imágenes */
img {
    width: 100%;        /* Ocupa el ancho completo del contenedor */
    max-width: 500px;   /* Establece un ancho máximo fijo para todas las imágenes */
    height: auto;       /* Mantiene la proporción original de la imagen */
    display: block;     /* Elimina espacio adicional debajo de las imágenes */
    margin: 0 auto;     /* Centra las imágenes dentro de su contenedor */
}